.c-404 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	.o-row {
		margin-top: $spacing-3x;
	}

	&__title {
		margin-bottom: $spacing-2x;
		color: $white;
	}
}