.c-accreditations {
	margin-top: $spacing-6x;
	display: flex;
	flex-wrap: wrap;

	&__item {
		margin-right: $spacing-base;

		img {
			max-width: 278px;
			width: 100%;			
		}
	}

	@include breakpoint($max-w-tablet) {
		margin-top: $spacing-2x;

		&__item {
			img {
				max-width: 180px;
			}
		}
	}
}
