.c-btn-icon {
	transform: scale(1,1);
	transition: transform $transition-time, background-color $transition-time;
	background-color: $color-primary;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
	margin-right: $spacing-half;

	&:hover {
		transform: scale(1.05,1.05);
	}

	&:last-of-type {
		margin-right: 0;
	}

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		font-size: $body--alt;
		color: $white;
	}

	&:hover {
		background-color: $color-primary--darker;
	}
}
