.c-btn {
	display: block;
	max-width: 250px;
	max-height: 55px;
	width: 100%;
	border-radius: $border-radius;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	transition: color $transition-time, background-color $transition-time;
	color: $black;
	background-color: $grey-light;
	padding: $spacing-half + $spacing-quarter;

	&:hover {
		color: $white;
		background-color: $color-primary;
	}

	&--reversed {
		background-color: $white;	

		&:hover {
			background-color: $color-primary;
		}
	}

	&--reversed-dark {
		background-color: $white;	

		&:hover {
			background-color: $color-primary--darker;
		}
	}

	&--colour {
		color: $white;
		background-color: $color-primary;

		&:hover {
			background-color: $color-primary--darker;
		}
	}

	&--disabled {
		pointer-events: none;
		background: grey;
	}

	@include breakpoint($max-w-mobile-large) {
		max-width: 100%;
	}
}

