.c-category {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $spacing-base;

	&__item {
		transition: background-color $transition-time;
		padding: $spacing-quarter $spacing-half;
		border-radius: $border-radius;
		text-decoration: none;
		text-transform: uppercase;
		background-color: $color-primary;
		margin-right: $spacing-quarter;
		color: $white;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			background-color: lighten($color-primary, $lighten-darken);
		}

		&--dark {
			background-color: $color-primary--darker;

			&:hover {
				background-color: lighten($color-primary--darker, $lighten-darken);
			}			
		}
	}

	@include breakpoint($max-w-tablet) {
		&__item {
			margin-bottom: $spacing-quarter;
		}
	}
}

.c-post--archive:nth-of-type(odd) {
	.c-category {
		&__item {
			background-color: $color-primary--darker;

			&:hover {
				background-color: lighten($color-primary--darker, 5%);
			}
		}
	}
}
