.c-contact {

	&__title {
		margin-bottom: $spacing-4x;
	}

	&__form-title {
		color: $white;
		margin-bottom: $spacing-2x;
	}

	.options {

		&__item {
			font-size: $body--alt;
			@include font-primary--bold();
			margin-bottom: $spacing-quarter;

			&:nth-of-type(2n) {
				margin-bottom: $spacing-base;
			}

			.c-link {
				transition: color $transition-time, border-bottom $transition-time;
				color: $color-primary;
				border-bottom: 2px solid $color-primary;

				&:hover {
					color: lighten($color-primary, $lighten-darken);
					border-bottom: 2px solid lighten($color-primary, $lighten-darken);
				}
			}
		}
	}

	&__details,
	&__map {
		width: 50%;
	}

	&__map {
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	@include breakpoint($max-w-tablet) {

		&__title {
			margin-bottom: $spacing-base;
		}

		.o-inner {
			flex-wrap: wrap;
		}

		&__details {
			margin-bottom: $spacing-base;
		}

		&__details,
		&__map {
			width: 100%;
		}

		&__map {
			height: 300px;
		}
	}
}