.c-downloads {
	
	.o-inner {
		flex-wrap: wrap;
	}

	&__item {
		height: 200px;
		width: 23.5%;
		margin-right: 2%;
		margin-bottom: $spacing-base;
		background-color: $white;
		padding: $spacing-base;
		border-radius: $border-radius;

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-last-child(-n+4) {
			margin-bottom: 0;
		}
	}

	.downloads {
		position: relative;

		&__title {
			position: absolute;
			margin-bottom: $spacing-2x;
			top: $spacing-base;
			left: $spacing-base;
			width: 80%;

			h3 {
				font-size: 22px;
				line-height: 28px;
			}
		}

		&__link {
			position: absolute;
			bottom: $spacing-base;
			left: $spacing-base;

			.c-btn {
				padding: 15px 19px;
			}
		}
	}

	@include breakpoint($max-w-tablet) {
		&__item {
			width: 48%;
			margin-right: 4%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			&:nth-last-child(-n+4) {
				margin-bottom: $spacing-base;
			}

			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint($max-w-mobile-large) {
		&__item {
			width: 100%;
			margin-right: 0;

			&:nth-last-child(-n+2) {
				margin-bottom: $spacing-base;
			}
			
			&:nth-last-child(-n+1) {
				margin-bottom: 0;
			}
		}
	}
}