.c-dual-layout {

	&__item {

		&--image {
			@include image(cover, center);
		}

		&--dark {
			background-color: $color-primary--darker;

			.c-btn {
				@extend .c-btn--reversed;
			}
		}

		&--light {
			background-color: $color-primary;	

			.c-btn {
				@extend .c-btn--reversed-dark;
			}
		}
	}

	&__title {
		width: 50%;
		z-index: 99;
		color: $white;
		@include font-primary--bold();
	}

	&__text {
		width: 50%;
		z-index: 99;
		padding-top: $spacing-base;
		color: $white;
	}

	&__btn {
		margin-top: $spacing-2x;
	}

	@include breakpoint($max-w-tablet) {
		&__title {
			width: 100%;
		}

		&__text {
			width: 100%;
		}

		.o-inner {
			flex-wrap: wrap;
		}
	}
}
