.c-footer-nav {
	flex-basis: 25%;

	.footer-menu {

		&__item {
			margin-bottom: $spacing-quarter;
		}

		&__link {
			transition: color $transition-time;
			text-transform: uppercase;
			@include font-size($body--small);
			color: $grey-dark;
			font-weight: $font-bold;
			letter-spacing: .25px;
			text-decoration: none;

			&:hover {
				color: $color-primary;
			}			
		}
	}

	@include breakpoint($max-w-tablet) {
		flex-basis: 100%;
	}
}
