.c-forms {
	width: 66.6666%;

	&__submit {
		.input-submit {
			border: 0;		
		}
	}

	.input-name,
	.input-email,
	.input-message {
		@include font-secondary--regular();
		padding: 20px;
		border-radius: $border-radius;
		border: 0;
	}

	input:focus,
	textarea:focus {
		outline: none;
	}

	.nf-error-msg,
	.nf-error-field-errors {
		@include font-primary--bold()
		margin-top: $spacing-half;
		text-transform: uppercase;
	}

	&__password {
		@include font-secondary--regular();
		background-color: $grey-light;
		border: 0;
		padding: 20px;
		max-width: 66.6666%;
		width: 100%;
		border-radius: $border-radius;
		margin-bottom: $spacing-base;
	}

	&__submit {
		@include font-primary--regular();
		border: none;
	}

	@include breakpoint($max-w-tablet) {
		width: 100%;

		&__password {
			max-width: 100%;
		}
	}
}

.nf-before-form-content,
.nf-after-form-content {
	display: none;
}

.nf-error .ninja-forms-field {
    border: 2px solid #E80000 !important;
}
