.c-footer-contact {
	flex-basis: 25%;

	&__item {
		text-transform: uppercase;
		margin-bottom: $spacing-quarter;

		a {
			transition: color $transition-time;
			color: $black;

			&:hover {
				color: $color-primary;
			}
		}
	}

	&__map {
		text-transform: uppercase;
		padding-top: $spacing-half;
		margin-bottom: 0;

		a {
			transition: color $transition-time;
			color: $color-primary;
			font-weight: $font-bold;

			&:hover {
				color: $color-primary--darker;
			}
		}
	}

	@include breakpoint($max-w-tablet) {
		flex-basis: 100%;
		margin-top: $spacing-base;
	}
}
