.c-grid-layout {
	width: 100%;

	&__item {
		float: left;
		width: 32%;
		margin-right: 2%;
		margin-bottom: $spacing-base;
		border-radius: $border-radius;
		background-color: $white;
		height: 300px;
		transition: transform $transition-time;
		transform: scale(1, 1);

		&:hover {
			transform: scale(1.05, 1.05);
		}

		&:nth-of-type(3n) {
			margin-right: 0;
		}
	}

	&__background {

		&__item {
			background-color: transparent;
		}

		&__image {
			overflow: hidden;
			border-radius: $border-radius;

			img {
				height: 300px;
				width: 100%;
				display: block;
				object-fit: cover;
				object-position: 50% 50%;
			}

			.overlay {
				@include cover();
				z-index: 100;
				background-color: rgba($black, .2);
			}

			&--links {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: $white;

				img {
					width: 60%;
					object-fit: contain;
				}
			}
		}

		&__title {
			color: $white;
		}
	}

	@include breakpoint($max-w-tablet) {
		
		&__item {
			width: 48%;
			margin-right: 4%;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			&:nth-of-type(3n) {
				margin-right: 4%;
			}

			&:nth-of-type(6n) {
				margin-right: 0;
			}
		}
	}

	@include breakpoint($max-w-mobile-large) {
		
		&__item {
			width: 100%;
			margin-right: 0;
		}
	}
}