.c-mobile-nav {
	margin-top: $spacing-2x;
	display: none;

	.mobile-menu {
		
		&.active {
			.fa-caret-down {
				transform: rotate(180deg);
			}
		}
		
		&__item {
			border-bottom: 1px solid $color-primary--darker;
			background-color: $color-primary;
			display: block;
			text-align: center;
			position: relative;

			&:last-of-type {
				border-bottom: 0;
			}
		}

		.icon-wrapper {
			background-color: rgba($color-primary--darker, .5);
			padding: 5px 10px;
			border-radius: $border-radius;
			position: absolute;
			right: $spacing-base;
			top: 18px;
			z-index: 999;

			.fa-caret-down {
				transition: transform $transition-time;
				color: $white;
				font-size: 25px;
			}				
		}

		// &__item.menu-item-has-children.active {
		// 	padding-bottom: 0;
		// }

		&__link {
			color: $white;
			text-transform: uppercase;
			text-decoration: none;
			font-size: $body--alt;
			width: 100%;
			padding: $spacing-base 0;
			display: block;

			&__hover {
				color: $color-primary--darker;
			}
		}
	}

	.mobile-menu-drop {
		display: none;

		&.active {
			display: block;
		}

		&__item {
		   	background-color: $color-primary--darker;
		 	display: block;
		 	border-bottom: 1px solid $color-primary;

			// &:first-of-type {
			// 	margin-top: $spacing-base;
			// }

		 	&:last-of-type {
		 		border-bottom: 0;
		 	}
		 }

		 &__link {
		 	padding: $spacing-base 0;
		 	display: block;
		 	color: $white;
			text-transform: uppercase;
			text-decoration: none;
			font-size: $body--alt;
			width: 100%;
		 }
	}
}

@include breakpoint($max-w-tablet) {
	.c-mobile-nav.active {
		display: block;
	}	
}
