.c-mobile-triggers {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	display: none;

	.fa {
		font-size: 26px;
	}

	.fa-search {
		color: $color-primary;
		margin-right: $spacing-base;
		order: 1;
	}

	.menu-icon {
		order: 2;
	}

	@include breakpoint($max-w-tablet) {
		display: inherit;
	}
}


.menu-icon {

	$color: $color-primary;
	$height-icon: 16px;
	$width-line: 30px;
	$height-line: 3px;
	$transition-time: 0.4s;
	$rotation: 45deg;
	$translateY: ($height-icon / 2);
	$translateX: 0;

	width:$width-line;
	height:$height-icon;
	position:relative;
	display:block;

	.line {
		display:block;
		background:$color;
		width:$width-line;
		height:$height-line;
		position:absolute;
		left:0;
		border-radius:($height-line / 2);
		transition: all $transition-time;

		&.line-1 {
			top:0;
		}
		&.line-2 {
			top:50%;
		}
		&.line-3 {
			top:100%;
		}
	}

	&:hover, &:focus {

		.line-1 {
			transform: translateY($height-line / 2 * -1);
		}
		.line-3 {
			transform: translateY($height-line / 2);
		}  
	}

	&.active {

		.line-1 {
			transform: translateY($translateY) translateX($translateX) rotate($rotation);
		}
		.line-2 {
			opacity:0;
		}
		.line-3 {
			transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
		}
	}
}