.c-news {

	&__header {
		display: flex;
		width: 100%;
		margin-bottom: $spacing-4x;
		color: $white;
	}

	&__heading {
		width: 50%;
	}

	&__link {
		width: 50%;
		
		.c-btn {
			margin-left: auto;
		}
	}

	&__item {
		width: 100%;
	}

	@include breakpoint($max-w-tablet) {

		&__header {
			flex-wrap: wrap;
			margin-bottom: $spacing-2x;
		}

		&__heading {
			width: 100%;
			margin-bottom: $spacing-base;	
		}

		&__link {
			width: 100%;

			.c-btn {
				margin-left: 0;
			}
		}
	}
}