.c-navigation {
	margin-left: auto;

	@include breakpoint($max-w-tablet) {
		display: none;
	}
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

	&__item {
		margin-right: $spacing-quarter + $spacing-half;
		position: relative;

		&:last-of-type {
			margin-right: 0;
		}

		&:hover {
			.menu-drop {
				pointer-events: auto;
				opacity: 1;
			}
		}
	}

	&__link {
		text-decoration: none;
	}

	.menu-drop {
		transition: opacity $transition-time;
		pointer-events: none;
		padding-top: $spacing-base;
		opacity: 0;
		z-index: 199;

		&__inner {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			box-shadow: 0 20px 90px 0 rgba(39,107,84,0.39);
			border-radius: $border-radius;

			&::before {
				content:"";
				border-style: solid;
				border-width: 0 10px 15px 10px;
				border-color: transparent transparent $white transparent;
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		&__item {
			border-bottom: 1px solid $grey-light;
			border-radius: $border-radius;

			&:last-of-type {
				border-bottom: 0;
			}
		}

		&__link {
			@extend .c-link;
			transition: background-color $transition-time;
			color: $color-primary;
			font-size: $body--alt;
			width: 300px;
			text-transform: uppercase;
			background: $white;
			display: block;
			padding: $spacing-base 0 $spacing-base $spacing-base;

			&:hover {
				background-color: $grey-light;
			}

			&:first-of-type {
				border-top-left-radius: $border-radius;
				border-top-right-radius: $border-radius;				
			}

			&:last-of-type {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;				
			}
		}
	}
}

.secondary-nav {
	margin-bottom: $spacing-base;

	.menu {
		&__link {
			transition: color $transition-time;
			text-transform: uppercase;
			color: $grey;
			font-weight: $font-regular;
			letter-spacing: .25px;
			@include font-size($body--small);

			&:hover {
				color: $color-primary;
			}
		}
	}

	.fa-search {
		transition: color $transition-time;
		color: $color-primary;
		margin-left: $spacing-base;
		cursor: pointer;

		&:hover {
			color: $color-primary;
		}
	}
}

.primary-nav {

	.menu {

		&__link {
			transition: color $transition-time;
			text-transform: uppercase;
			@include font-size($body--alt);
			color: $grey-dark;
			font-weight: $font-bold;
			letter-spacing: .25px;

			&:hover {
				color: $color-primary;
			}
		}
	}
}