.c-post-archive {
	width: 100%;

	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: $spacing-4x;
	}

	&__refine {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		margin-left: auto;
		align-items: center;

		.label {
			text-transform: uppercase;
			margin-left: auto;
			margin-right: $spacing-half;
		}
	}

	@include breakpoint($max-w-laptop) {

		&__header {
			margin-bottom: $spacing-2x;
		}

		&__title {
			width: 100%;
			margin-bottom: $spacing-base;
		}

		&__refine {
			width: 100%;

			.label {
				margin-left: 0;
			}
		}
	}

	@include breakpoint($max-w-tablet) {

		&__header {
			margin-bottom: $spacing-base;
		}

		&__refine {
			.label {
				margin-bottom: $spacing-half;
			}
		}
	}
}