.c-post {
	display: flex;

	&__featured-image {
		width: 50%;
		overflow: hidden;

		.wrap {
			transition: transform $transition-time--slower;
			width: 100%;
			height: 100%;
			@include image(cover, center);

			&:hover {
				transform: scale(1.05, 1.05);
			}
		}
	}

	&__inner {
		width: 50%;
		padding: $spacing-3x;
		background-color: $color-primary--darker;
		position: relative;	
		
		&::before {
			content:"";
			border-style: solid;
			border-width: 10px 15px 10px 0;
			border-color: transparent $white transparent transparent;
			position: absolute;
			right: 100%;
			top: 20%;
		}
	}

	&__title {
		margin-bottom: $spacing-base;

		.c-link {
			transition: color $transition-time;
			color: $color-primary;
			@include font-primary--bold();

			&:hover {
				color: lighten($color-primary, $lighten-darken);
			}	
		}
	}

	&__excerpt {
		margin-bottom: $spacing-base;
		max-width: 80%;
		width: 100%;
		min-height: 88px;
	}

	&:nth-of-type(odd) &__inner {
		border-top-right-radius: $border-radius;
		background-color: $white;
	}

	&:nth-of-type(even) &__inner {
		border-bottom-right-radius: $border-radius;

		&::before {
			content:"";
			border-style: solid;
			border-width: 10px 15px 10px 0;
			border-color: transparent $color-primary--darker transparent transparent;
			position: absolute;
			right: 100%;
			top: 20%;
		}
	}

	&:nth-of-type(even) &__featured-image {
		border-bottom-left-radius: $border-radius;
	}

	&:nth-of-type(odd) &__featured-image {
		border-top-left-radius: $border-radius;
	}

	&:nth-of-type(even) &__excerpt {
		color: $white;
	}

	&:nth-of-type(even) &__title .c-link {
		color: $white;

		&:hover {
			color: darken($white, $lighten-darken);
		}
	}

	&--archive:nth-of-type(odd) &__inner {
		background-color: $color-primary;

		&__title {
			color: $white;
		}
	}

	&--archive:nth-of-type(odd) &__inner {
		&::before {
			border-color: transparent $color-primary transparent transparent;
		}
	}

	&--archive:nth-of-type(odd) &__title .c-link,
	&--archive:nth-of-type(odd) &__excerpt {
		color: $white;
	}

	&--archive:nth-of-type(odd) {

		.c-btn:hover {
			background-color: $color-primary--darker;
		}
	}

	&--archive:nth-of-type(even) &__inner {
		border-bottom-right-radius: 0;
	}

	&--archive:nth-of-type(even) &__featured-image {
		border-bottom-left-radius: 0;
	}

	&--archive:nth-of-type(odd) &__featured-image {
		border-top-left-radius: 0;
	}

	&--archive:nth-of-type(odd) &__inner {
		border-top-right-radius: 0;
		background-color: $color-primary;
	}

	&--archive:last-of-type &__inner {
		border-bottom-right-radius: $border-radius;
	}

	&--archive:last-of-type &__featured-image {
		border-bottom-left-radius: $border-radius;
	}

	&--archive:first-of-type &__inner {
		border-top-right-radius: $border-radius;
	}

	&--archive:first-of-type &__featured-image {
		border-top-left-radius: $border-radius;
	}

	&__pagination {
		margin-top: $spacing-2x;
	}
	
	@include breakpoint($max-w-tablet) {
	flex-wrap: wrap; 

		&__featured-image {
			width: 100%;
			height: 30vh;
		}

		
		&:first-of-type &__featured-image {
			width: 100%;
			height: 30vh;
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&:last-of-type &__inner {
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
		}

		&:nth-of-type(even) &__inner {

			&::before {
				border-width: 0 10px 15px 10px;
				border-color: transparent transparent $color-primary--darker transparent;
				bottom: 100%;
				left: 50%;
				top: auto;
				right: auto;
				transfrom: translateX(-50%);
			}
		}

		&__inner {
			width: 100%;
			padding: $spacing-base;

			&::before {
				border-width: 0 10px 15px 10px;
				border-color: transparent transparent $white transparent;
				bottom: 100%;
				left: 50%;
				top: auto;
				right: auto;
				transform: translateX(-50%);
			}
		}

		&--archive:first-of-type &__featured-image {
			border-top-left-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}

		&--archive:last-of-type &__inner {
			border-bottom-right-radius: $border-radius;
			border-bottom-left-radius: $border-radius;
		}

		&--archive:nth-of-type(odd) &__inner {
			&::before {
				border-color: transparent transparent $color-primary transparent;
			}
		}
	}

	@include breakpoint($max-w-mobile) {

		&__excerpt {
			max-width: 100%;
		}



	}
}
