.c-page-heading {

	&__title {
		color: $color-primary;
		@include font-primary--bold();

		&--margin-bottom {
			margin-bottom: $spacing-3x;	
		}

	}

	&__sub-heading {
		color: $black;
		@include font-primary--semi();

		&--margin-bottom {
			margin-bottom: $spacing-base;	
		}

		&--margin-bottom-xl {
			margin-bottom: $spacing-2x;
		}
	}

	&__body {
		color: $black;

		&--margin-bottom {
			margin-bottom: $spacing-2x;
		}
	}

	@include breakpoint($max-w-tablet) {

		&__title {

			&--margin-bottom {
				margin-bottom: $spacing-base;
			}
		}
	}
}