.c-single-post {
	width: 66.6666%;

	&__header {
		margin-bottom: $spacing-4x;
	}

	&__title {
		margin-bottom: $spacing-2x;
		color: $color-primary;
		@include font-primary--bold();
	}

	&__content {
		h1 {
			margin-bottom: $spacing-2x;
			color: $color-primary;
			@include font-primary--bold();
		}

		h2 {
			margin-bottom: $spacing-2x;
			color: $color-primary;
			@include font-primary--bold();			
		}

		h3 {
			margin-bottom: $spacing-2x;
			color: $color-primary;
			@include font-primary--bold();				
		}

		h4 {
			margin-bottom: $spacing-base;
			color: $black;
			@include font-primary--regular();	
		}

		h5 {
			margin-bottom: $spacing-base;
			color: $black;
			@include font-primary--regular();	
		}

		h6 {
			color: $grey;
			margin-bottom: $spacing-base;
		}

		h1, h2, h3,{
			a {
				color: $color-primary--darker;
				transition: color $transition-time, border-bottom $transition-time;
				text-decoration: none;
				border-bottom: 2px solid $color-primary--darker;

				&:hover {
					color: lighten($color-primary--darker, $lighten-darken);
					border-bottom: 2px solid lighten($color-primary--darker, $lighten-darken);
				}				
			}
		}

		h4, h5, h6 {
			a {
				color: $color-primary;
				transition: color $transition-time, border-bottom $transition-time;
				text-decoration: none;
				border-bottom: 2px solid $color-primary;

				&:hover {
					color: $color-primary--darker;
					border-bottom: 2px solid $color-primary--darker;
				}	
			}
		}

		p {
			margin-bottom: $spacing-2x;
			a {
				@include font-secondary--bold();
				transition: color $transition-time, border-bottom $transition-time;
				text-decoration: none;
				color: $color-primary;
				border-bottom: 2px solid $color-primary;

				&:hover {
					color: $color-primary--darker;
					border-bottom: 2px solid $color-primary--darker;
				}
			}

			img {
				width: 100%;
			}
		}

		ul {
			margin-bottom: $spacing-2x;
			list-style-type: square;
			margin-left: $spacing-base - $spacing-quarter; 

			li {
				margin-bottom: $spacing-quarter;
				text-transform: uppercase;
				color: $color-primary--darker;
			}
		}

		ol {
			margin-bottom: $spacing-2x;
			list-style-type: decimal;
			margin-left: $spacing-half; 

			li {
				margin-bottom: $spacing-quarter;
				text-transform: uppercase;
				color: $color-primary--darker;
			}			
		}

		hr {
			margin-bottom: $spacing-2x;
			border-color: $grey-light;
		}
	}

	@include breakpoint($max-w-tablet) {
		width: 100%;

		&__header {
			margin-bottom: $spacing-base;
		}
	}
}