.c-search {
	justify-content: flex-end;
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&__field {
		padding: $spacing-base;
		max-height: 55px;
		max-width: 50%;
		width: 100%;
		border-radius: $border-radius;
		border: 0;
		margin-right: $spacing-base;

		&:focus {
			outline: none;
		}

		&::placeholder {
			color: $grey;
		}
	}

	&__submit {
		@include font-primary--regular();
		border: 0;
	}

	@include breakpoint($max-w-tablet) {
		&__field {
			max-width: 100%;
			margin-right: 0;
			margin-bottom: $spacing-half;
		}

		&__submit {
			max-width: 100%;
		}
	}
}

.o-row--search {
	transition: opacity $transition-time 500ms;
	display: none;
}

.o-row--search.active {
	display: block;
	animation: opacity 1s;
}

@keyframes opacity {
	0% { 
		opacity: 0; 
	}
	100% { 
		opacity: 1;
	}
}