.c-staff {
	width: 100%;

	.o-inner {
		@include clearfix();
	}

	&__item {
		float: left;
		width: 23.5%;
		margin-top: $spacing-2x;
		margin-right: 2%;

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-of-type(-n+4) {
			margin-top: 0;
		}
	}

	.profile {

		&__image {
			transition: transform $transition-time;
			transform: scale(1,1);
			border-radius: $border-radius;
			height: 300px;
			position: relative;
			overflow: hidden;
			margin-bottom: $spacing-base;

			&:hover {
				transform: scale(1.05,1.05);
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				object-fit: cover;
				object-position: 50% 50%;
			}
		}

		&__name {
			@include font-primary--bold();
			color: $white;
		}

		&__job {
			color: $white;
		}
	}

	@include breakpoint($max-w-laptop) {
		&__item {
			width: 48%;
			margin-right: 4%;
			margin-bottom: $spacing-base;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

			&:nth-of-type(3n) {
				margin-right: 4%;
			}

			&:nth-of-type(6n) {
				margin-right: 0;
			}

			&:nth-last-child(-n+4) {
				margin-bottom: $spacing-base;
			}

			&:nth-last-child(-n+2) {
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint($max-w-mobile-large) {
		&__item {
			width: 100%;
			margin-right: 0;
		}
	}
}