$height: 50px;

.c-select {
	max-width: 180px;
	width: 100%;
	margin-right: $spacing-half;

	&:last-of-type {
		margin-right: 0;
	}
	
	$root: &;
	
	.checkbox {
		opacity: 0;
		cursor: pointer;
		width: 100%;
		height: $height;
		position: absolute;
		left: 0;
		top: 0;
		margin: 0;
		z-index: 10;

		&:checked {
			& + #{$root}__facade {

				#{$root}__facade__selected {
					color: $white;
					background-color: $color-primary;

					.fa-angle-down {
						color: $white;
						transform: rotate(180deg);
					}
				}
			}

			& + #{$root}__facade {

				#{$root}__facade__options {
					opacity: 1;
				}
			}
		}

		&:hover {
			& + #{$root}__facade {
				#{$root}__facade__selected {
					color: $white;
					background-color: $color-primary;

					.fa-angle-down {
						color: $white;
					}
				}
			}
		}
	}

	&__facade {
		display: flex;
		flex-wrap: wrap;
		max-width: 200px;

		&__options {
			opacity: 0;
			width: 100%;
		}

		&__selected {
			transition: color $transition-time, background-color $transition-time;
			background-color: $white;
			color: $black;
			display: flex;
			height: $height;
			justify-content: center;
			align-items: center;
			padding: $spacing-half;
			border: 1px solid $grey-light;
			width: 100%;
			height: $height;
			border-top-right-radius: $border-radius;
			border-top-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			border-bottom-left-radius: $border-radius;

			.select-name {
				text-transform: uppercase;
			}

			.fa-angle-down {
				transition: color $transition-time, transform $transition-time;
				color: $black;
				margin-left: $spacing-quarter;
				transform: rotate(0deg);
			}
		}
	}

	@include breakpoint($max-w-tablet) {
		max-width: 100%;
		margin-right: 0;
		margin-bottom: $spacing-half;

		&__facade {
			max-width: 100%;
		}
	}
}

.dropdown-list {
	position: absolute;
	width: 100%;
	z-index: 100;

	&__item {
		border-bottom: 1px solid $grey-light;
		border-left: 1px solid $grey-light;
		border-right: 1px solid $grey-light;
		text-align: center;
		display: flex;
		align-items: center;

		.c-link {
			transition: background-color $transition-time;
			display: inline-block;
			padding: ($spacing-half + 4px) 0;
			text-transform: uppercase;
			color: $black;
			width: 100%;
			background-color: $white;

			&:hover {
				background-color: $grey-light;
			}
		}

		&:last-of-type {
			border-radius: $border-radius;
		}
	}
}







