.c-share-block {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&__title {
		width: 100%;
		margin-bottom: $spacing-base;
	}

	&__wrap {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-right: $spacing-half;

		&:last-of-type {
			margin-right: 0;
		}
	}
}