.c-single-layout {

	&__item {

		.o-inner {
			display: flex;
			flex-wrap: wrap;
		}

		&--dark {
			background-color: $color-primary--darker;
		}

		&--light {
			background-color: $color-primary;	
		}
	}

	&__title {
		color: $white;
		max-width: 485px;
		margin-bottom: $spacing-2x;
	}

	&__text {
		color: $white;
		
		&--margin-bottom {
			margin-bottom: $spacing-4x;	
		}

		p {
			width: 66.666%;
		}
	}

	&__overlay {
		position: absolute;
		z-index: 199;
		bottom: $spacing-base;
		left: $spacing-base;
	}

	@include breakpoint($max-w-tablet) {

		&__title {
			margin-bottom: $spacing-base;
			max-width: 80%;
		}

		&__text {
			
			&--margin-bottom {
				margin-bottom: $spacing-2x;	
			}

			p {
				width: 100%;
			}
		}
	}
}