.c-sister-school {
	position: fixed;
	width: 100%;
	z-index: 999;

	.o-inner {
		justify-content: flex-end;
		width: 100%
	}

	&__link {
		border: 2px solid $white;
		border-top: 0;
		color: $white;
		text-transform: uppercase;
		text-decoration: none;
		padding: $spacing-half;
		background-color: $color-primary;
		border-bottom-right-radius: $border-radius;
		border-bottom-left-radius: $border-radius;

		&:first-of-type{
			margin-right: 10px;
			
		}
	}
}