.c-terms {
	margin-top: $spacing-4x;
	justify-content: flex-end;
	flex-wrap: wrap;

	&__copyright {
		text-transform: uppercase;
		color: $grey;
		flex-basis: 50%;

		br {
			display: none;
		}
	}

	&__menu {
		flex-basis: 50%;
		justify-content: flex-end;
		margin-left: auto;
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-right: $spacing-quarter;
		padding-right: $spacing-quarter;
		border-right: 1px solid $grey-light;

		&:last-of-type {
			margin-right: 0;
			padding-right: 0;
			border-right: 0;
		}
	}

	&__link {
		transition: color $transition-time;
		text-decoration: none;
		text-transform: uppercase;
		color: $grey;

		&:hover {
			color: darken($grey, $lighten-darken);
		}
	}

	@include breakpoint($max-w-tablet) {
	flex-wrap: wrap !important;
	margin-top: $spacing-2x;
	justify-content: flex-start;
	
		&__copyright {
			margin-right: $spacing-half;
			flex-basis: 100%;
			margin-bottom: $spacing-half;

			br {
				display: inherit;
			}
		}

		&__menu {
			flex-basis: 100%;
			margin-left: 0;
			justify-content: flex-start;
		}
	}
}