.c-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-position: center;
	background-size: cover;

	@media screen and (min-width: 768px) {
		background: none !important;
	}

	&__item {
		width: 100vw;
		height: 56.25vw;
		min-height: 100vh;
		min-width: 177.77vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	// @include breakpoint($max-w-tablet) {
	// 	display: none;
	// }
}
