/*---------------------------
    Headings
---------------------------*/

h1 {
	@include font-size($h1-heading-size, $h1-line-height);

	@include breakpoint($max-w-mobile-large) {
		@include font-size($h2-heading-size, $h2-line-height);
	}
}

h2 {
	@include font-size($h2-heading-size, $h2-line-height);
}

h3 {
	@include font-size($h3-heading-size, $h3-line-height);
}

h4 {
	@include font-size($h4-heading-size, $h4-line-height);
}

h5 {
	@include font-size($h5-heading-size, $h5-line-height);
}


.heading-main {
	@include font-size($h1-heading-size, $h1-line-height);

	&--regular {
		@include font-primary--regular()
	}

	&--bold {
		@include font-primary--bold()
	}

	@include breakpoint($max-w-mobile-large) {
		@include font-size($h2-heading-size, $h2-line-height);
	}
}
