/*-----------------------
	Default Page
-----------------------*/

html {
	font-size: $global-font-size;
	line-height: $global-line-height / $global-font-size;
	background: $global-background;
	font-weight: $global-font-weight;
	font-family: $global-font-family;
	color: $global-text-color;
	overflow-y: scroll;
	min-height: 100%;
}

div {
	position: relative;
}

.turbolinks-progress-bar {
	height: 5px;
	background-color: $color-primary;
}
