/*---------------------------
    colorS
---------------------------*/

$color-primary: #0ab4de;
$color-primary--darker: #046f8a;
$grey-light: #ebebeb;
$grey: #9c9c9c;
$grey-dark: #474747;
$white: #ffffff;
$black: #000;


// Page
$color-text: $black;


// Heading
$color-heading: $color-primary;
$color-heading--alt: $white;

.color-primary {
	color: $color-heading;
}


// Backgrounds
$color-background: $color-primary;
$color-background--alt: $color-primary--darker;
$color-background--white: $white;