/*---------------------------
    Fonts
---------------------------*/

$primary-font: "acumin-pro-condensed", sans-serif;
$secondary-font: "open-sans", sans-serif;




/*---------------------------
    Fonts Weights
---------------------------*/

$font-regular: 400;
$font-semi: 600;
$font-bold: 700;




/*---------------------------
    Fonts Sizes
---------------------------*/

$h1-heading-size: 45px !default;
$h2-heading-size: 36px !default;
$h3-heading-size: 25px !default;
$h4-heading-size: 18px !default;
$h5-heading-size: 12px !default;

$body: 15px;
$body--alt: 18px;
$body--small: 14px;


/*---------------------------
    Line Height
---------------------------*/

$h1-line-height: 65px !default;
$h2-line-height: 46px !default;
$h3-line-height: 35px !default;
$h4-line-height: 26px !default;
$h5-line-height: 22px !default;

$body-line-height: 25px;
$body-line-height--alt: 28px;
