/*---------------------------
    Spacing
---------------------------*/

$global-font-size: 15px !default;
$global-line-height: 26px !default;
$global-background: $color-background--white !default;
$global-font-weight: $font-regular !default;
$global-text-color: $color-text !default;
$global-font-family: $primary-font !default;




/*---------------------------
    Spacing
---------------------------*/

$spacing-base: 25px;
$spacing-quarter: round($spacing-base / 4);
$spacing-half: round($spacing-base / 2);
$spacing-2x: round($spacing-base * 2);
$spacing-3x: round($spacing-base * 3);
$spacing-4x: round($spacing-base * 4);
$spacing-5x: round($spacing-base * 5);
$spacing-6x: round($spacing-base * 6);


/*---------------------------
    Container
---------------------------*/
$container-width: 1366px;
$container-padding: 45px;


/*---------------------------
    Other Settings
---------------------------*/
$transition-time: 300ms;
$transition-time--slower: 500ms;


/*---------------------------
    Responsives
---------------------------*/
$max-w-laptop-large: max-width 1440px;
$max-w-laptop: max-width 1024px;
$max-w-tablet: max-width 768px;
$max-w-mobile-large: max-width 425px;
$max-w-mobile: max-width 320px;


/*---------------------------------------
    Percentages for Lightens/Darkens
---------------------------------------*/
$lighten-darken: 10%;


/*---------------------------
    Border Radius
---------------------------*/
$border-radius: 3px;
