.o-header {
	width: 100%;

	.o-row {
		justify-content: space-between;
	}

	.logo {

		&__link {
			display: block;
		}

		img {
			display: block;
			width: 185px;
		}
	}

	@include breakpoint($max-w-mobile) {
		.logo {
			img {
				width: 100px
			}
		}
	}
}