.o-inner {
	max-width: $container-width;
	padding: 0 $container-padding;
	margin: 0 auto;
	display: flex;


	&--v-center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--no-flex {
		display: block;
	}

	@include breakpoint($max-w-mobile-large) {
		padding: 0 $spacing-base;
	}
}
