.o-row {
	padding: $spacing-6x 0;
	position: relative;

	&--header {
		padding: $spacing-2x 0 0 0 !important;
	}

	&--color-primary {
		background-color: $color-primary;
	}

	&--color-darker {
		background-color: $color-primary--darker;
	}

	&--no-padding-bottom {
		padding-bottom: 0;
	}

	&--small {
		padding: $spacing-2x 0;
	}

	@include breakpoint($max-w-tablet) {
		padding: $spacing-2x 0;
	}
}