{% if item.background_image %}
<div class="c-dual-layout__item c-dual-layout__item--image" style="background-image: url({{ TimberImage(item.background_image).src|resize(1800) }});">
	<div class="o-row">
		{% include 'partials/dual-content.twig' with {button: 'c-btn--default'} %}
		<div class="c-overlay"></div>
	</div>
</div>
{% elseif item.background_video %}
<div class="c-dual-layout__item c-dual-layout__item--dark">
	<div class="o-row">
		{% include 'partials/dual-content.twig' with {button: 'c-btn--default'} %}
		<div class="c-video" style="background-image: url('{{ TimberImage(options.video_fallback_image).src }}');">
			<iframe class="c-video__item" src="{{ item.background_video }}autoplay=1&loop=1&background=1" frameborder="0" volume="0" allowfullscreen></iframe>
		</div>
		<div class="c-overlay c-overlay--strong"></div>
	</div>
</div>	
{% elseif item.background_colour %}
<div class="c-dual-layout__item c-dual-layout__item{{item.background_colour}}">
	<div class="o-row">
		{% include 'partials/dual-content.twig'%}
	</div>
</div>		
{% endif %}