<div class="o-inner">
	<div class="c-dual-layout__title">
		<h1>{{ item.title }}</h1>
	</div>
	<div class="c-dual-layout__text">
		<p>{{ item.text }}</p>
		{% if item.button[0] %}
		<div class="c-dual-layout__btn">
			{% if item.button[0].link %}
			{% include 'partials/btn.twig' with {text: item.button[0].text, link: item.button[0].link, modifiers: button} %}
			{% elseif item.button[0].file %}
			{% include 'partials/btn.twig' with {text: item.button[0].text, link: item.button[0].file.url, modifiers: button} %}
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>