{% if heading.background_image %}
<div class="c-dual-layout__item c-dual-layout__item--image" style="background-image: url({{ TimberImage(item.background_image).src|resize(1800) }});">
	<div class="o-row">
		<div class="o-inner o-inner--wrap">
			<div class="c-page-heading c-content-width--third">

				{% if heading.title %}
				<div class="c-page-heading__title {% if heading.sub_heading or heading.button[0] %}c-page-heading__title--margin-bottom{% endif %}">
					<h1 class="h1">{{ heading.title }}</h1>
				</div>			
				{% endif %}

				{% if heading.sub_heading %}
				<div class="c-page-heading__sub-heading {% if heading.body %}c-page-heading__sub-heading--margin-bottom{% endif %} {% if heading.button[0] %}c-page-heading__sub-heading--margin-bottom-xl{% endif %}">
					<h3 class="h3">{{ heading.sub_heading }}</h3>
				</div>
				{% endif %}

				{% if heading.body %}
				<div class="c-page-heading__body {% if heading.button[0] %}c-page-heading__body--margin-bottom{% endif %} p1">
					<p>{{ heading.body }}</p> 
				</div>
				{% endif %}
				
				{% if heading.button[0] %}
					{% if heading.button[0].link %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].link, modifiers: 'c-btn--default' } %}
					{% else %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].custom_url, modifiers: 'c-btn--default' } %}
					{% endif %}
				{% endif %}		

			</div>
		</div>
		<div class="c-overlay"></div>
	</div>
</div>
{% elseif heading.background_video %}
<div class="c-dual-layout__item c-dual-layout__item--dark" style="z-index:1000;">
	<div class="o-row">
		<div class="o-inner o-inner--wrap" style="z-index:1001">
			<div class="c-page-heading c-content-width--third">

				{% if heading.title %}
				<div class="c-page-heading__title {% if heading.sub_heading or heading.button[0] %}c-page-heading__title--margin-bottom{% endif %}">
					<h1 class="h1">{{ heading.title }}</h1>
				</div>			
				{% endif %}

				{% if heading.sub_heading %}
				<div class="c-page-heading__sub-heading {% if heading.body %}c-page-heading__sub-heading--margin-bottom{% endif %} {% if heading.button[0] %}c-page-heading__sub-heading--margin-bottom-xl{% endif %}">
					<h3 class="h3">{{ heading.sub_heading }}</h3>
				</div>
				{% endif %}

				{% if heading.body %}
				<div class="c-page-heading__body {% if heading.button[0] %}c-page-heading__body--margin-bottom{% endif %} p1">
					<p>{{ heading.body }}</p> 
				</div>
				{% endif %}
				
				{% if heading.button[0] %}
					{% if heading.button[0].link %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].link, modifiers: 'c-btn--default', style: 'margin:5px;display:inline-block;' } %}
					{% else %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].custom_url, modifiers: 'c-btn--default', style: 'margin:5px;display:inline-block;' } %}
					{% endif %}
				{% endif %}

				{% if (heading.show_fullscreen_video == "Yes") %}
					<label for="fs_video_shower" style="display:inline-block;" onclick="document.getElementById('fs_vid_player').play();if(window.innerWidth < 1000){
						var vid = document.getElementById('fs_vid_player');if (vid.requestFullscreen) {vid.requestFullscreen();} else if (vid.mozRequestFullScreen) {vid.mozRequestFullScreen();} else if (vid.webkitRequestFullscreen) {vid.webkitRequestFullscreen();}}"><span class="c-btn c-btn--default" style="border:none;outline:none;margin:5px;">{{ heading.video_button_text }}</span></label>
					<input type="checkbox" style="display:none;" name="fs_video_shower" id="fs_video_shower">
					<label for="fs_video_shower" class="fullscreen_video">
						<div class="fs_video_container" style="text-align:center;">
							<video src="{{ heading.fullscreen_video }}" frameborder="0" id="fs_vid_player" controls allowfullscreen style="width:100%;max-width:1400px;"></video>
						</div>
					</label>
					<style>
						.fullscreen_video{
							display:none;
							position:fixed;
							top:0;
							left:0;
							width:100%;
							height:100%;
							padding: 5%;
							background:rgba(0,0,0,0.33);
							z-index:99999999;
						}
						#fs_video_shower:checked + .fullscreen_video{
							display: block;
						}
						@media (max-width: 1000px){
							.fullscreen_video{
								padding-top: 20%;
							}
						}
					</style>
				{% endif %}	

			</div>
		</div>
		<div class="c-video" style="background-image: url('{{ TimberImage(options.video_fallback_image).src }}');">
			<iframe class="c-video__item" src="{{ heading.background_video }}autoplay=1&loop=1&background=1" frameborder="0" volume="0" allowfullscreen></iframe>
		</div>
		<div class="c-overlay c-overlay--strong"></div>
	</div>
</div>	
{% elseif heading.background_colour %}
<div class="c-dual-layout__item c-dual-layout__item{{item.background_colour}}">
	<div class="o-row">
		<div class="o-inner o-inner--wrap">
			<div class="c-page-heading c-content-width--third">

				{% if heading.title %}
				<div class="c-page-heading__title {% if heading.sub_heading or heading.button[0] %}c-page-heading__title--margin-bottom{% endif %}">
					<h1 class="h1">{{ heading.title }}</h1>
				</div>			
				{% endif %}

				{% if heading.sub_heading %}
				<div class="c-page-heading__sub-heading {% if heading.body %}c-page-heading__sub-heading--margin-bottom{% endif %} {% if heading.button[0] %}c-page-heading__sub-heading--margin-bottom-xl{% endif %}">
					<h3 class="h3">{{ heading.sub_heading }}</h3>
				</div>
				{% endif %}

				{% if heading.body %}
				<div class="c-page-heading__body {% if heading.button[0] %}c-page-heading__body--margin-bottom{% endif %} p1">
					<p>{{ heading.body }}</p> 
				</div>
				{% endif %}
				
				{% if heading.button[0] %}
					{% if heading.button[0].link %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].link, modifiers: 'c-btn--default' } %}
					{% else %}
					{% include 'partials/btn.twig' with { text: heading.button[0].text, link: heading.button[0].custom_url, modifiers: 'c-btn--default' } %}
					{% endif %}
				{% endif %}		

			</div>
		</div>
	</div>
</div>		
{% endif %}