<article class="c-news__item c-post {{ class }}">
	{% if item.thumbnail %}
	<a class="c-post__featured-image" href="{{ item.link }}">
		<div class="wrap" style="background-image: url({{ TimberImage(item.thumbnail).src }})"></div>
	</a>
	{% else %}
	<a class="c-post__featured-image" href="{{ item.link }}">
		<div class="wrap" style="background-image: url({{ site.url }}/wp-content/themes/pm-child/images/placeholder.jpg)"></div>
	</a>	
	{% endif %}
	<div class="c-post__inner">
		{% if item.title %}
		<div class="c-post__title">
			<a class="c-link" href="{{ item.link }}">
				<h3>{{ item.title }}</h3>
			</a>
		</div>
		{% endif %}
		{% if item.categories %}
		<div class="c-post__categories c-category">
			{% for category in item.categories %}
			<a href="{{ category.link }}" class="c-category__item">{{ category.name }}</a>
			{% endfor %}
		</div>
		{% endif %}
		{% if item.get_preview and post.post_type != "page" %}
		<div class="c-post__excerpt">
			<p>{{ item.get_preview(30, false, '')}}</p>
		</div>
		{% endif %}
		<div class="c-post__link">
			{% include 'partials/btn.twig' with {text: 'Read More', link: (item.link), modifiers: 'c-btn--default' } %}
		</div>
	</div>
</article>	