<article class="c-latest-news__item c-post">
	{% if item.thumbnail %}
	<a class="c-post__featured-image" href="{{ item.link }}">
		<div class="wrap" style="background-image: url({{ TimberImage(item.thumbnail).src }})"></div>
	</a>
	{% else %}
	<a class="c-post__featured-image" href="{{ item.link }}">
		<div class="wrap" style="background-image: url({{ site.url }}/wp-content/themes/pm-child/images/placeholder.jpg)"></div>
	</a>	
	{% endif %}
	<div class="c-post__inner">
		{% if related.title %}
		<div class="c-post__title">
			<a class="c-link" href="{{ related.link }}">
				<h3>{{ related.title }}</h3>
			</a>
		</div>
		{% endif %}
		{% if related.categories %}
		<div class="c-post__categories c-category">
			{% for category in related.categories %}
			<a href="{{ category.link }}" class="c-category__item">{{ category.name }}</a>
			{% endfor %}
		</div>
		{% endif %}
		{% if related.post_excerpt %}
		<div class="c-post__excerpt">
			<p>{{ related.post_excerpt }}</p>
		</div>
		{% endif %}
		<div class="c-post__link">
			{% include 'partials/btn.twig' with {text: 'Read More', link: (related.link), class: 'c-btn--default' } %}
		</div>
	</div>
</article>	