<div class="c-select">

	<input class="checkbox" type="checkbox">

	<div class="c-select__facade">

		<div class="c-select__facade__selected">
			<span class="select-name">{% if selected %} {{ selected }} {% else %} {{ placeholder }} {% endif %}</span>
			<i class="fa fa-angle-down"></i>
		</div>
		
		<div class="c-select__facade__options">
			<ul class="dropdown-list">
				{% for option in options %}
					<li class="dropdown-list__item">
						<a class="c-link" href="{{ option.link }}">{{ option.name }}</a>
					</li>
				{% endfor %}
			</ul>							
		</div>
		
	</div>
</div>