   <div class="c-single-layout__item c-single-layout__item{{ item.background_colour }}">
	<div class="o-row">
		<div class="o-inner">
			<div class="c-single-layout__title">
				<h2 class="heading-main--bold heading-main">{{ item.title }}</h2>
			</div>
			<div class="c-single-layout__text {% if item.grid %}c-single-layout__text--margin-bottom{% endif %}">
				<p>{{ item.text }}</p>
			</div>
			{% if item.grid %}
			<div class="c-single-layout__grid c-grid-layout {% if item.background_image %}c-grid-layout__background{% endif %}">
				{% for item in item.grid %}
				<div class="c-grid-layout__item {% if item.background_image %}c-grid-layout__background__item{% endif %}">
					<div class="c-single-layout__overlay">
						<h3 class="c-grid-layout__title {% if item.background_image %}c-grid-layout__background__title{% endif %}">{{ item.title }}</h3>
					</div>
					{% if item.background_image %}
					<div class="c-grid-layout__background__image">
						<img src="{{ TimberImage(item.background_image).src|resize(500) }}" alt="">
						<div class="overlay"></div>
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>
</div>