{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="c-sister-school">
			<div class="o-inner">
				<a href="http://www.alfreton.derbyshire.sch.uk/" class="c-sister-school__link">Nursery School</a>
							{# <a href="https://ceop.police.uk/safety-centre/" class="c-sister-school__link"><img src="/wp-content/uploads/2017/07/ceop-logo.png"></a> #}
							{# <a href="https://ceop.police.uk/safety-centre/" class="c-sister-school__link">CEOP</a> #}
			</div>
		</div>		
		<div class="o-row--small o-row--color-primary o-row--search">
			<div class="o-inner o-inner--wrap o-inner--flex-end">
				<form class="c-search" method="get" action="{{ site.url }}">
					<input class="c-search__field" name="s" type="search" placeholder="Enter your search here...">
					<button type="submit" class="c-search__submit c-btn c-btn--reversed-dark">Search</button>
				</form>
			</div>
		</div>
		<header class="o-header">
			{% block header %}
				<div class="o-row o-row--header">
					<div class="o-inner o-inner--v-center">

						<div class="logo" role="banner">
							<a class="logo__link" href="/">
								<img src="{{ TimberImage(options.logo).src }}" alt="Alfreton Nursery School Logo">
							</a>
						</div>

						<div class="c-mobile-triggers">
							<div class="js-menu-icon menu-icon">
								<span class="line line-1"></span>
								<span class="line line-2"></span>
								<span class="line line-3"></span>
							</div>
							<i class="fa fa-search js-search"></i>
						</div>

						<div class="c-navigation">
							<nav class="secondary-nav" role="navigation">
								<ul class="menu">
									{% for item in menu_secondary.get_items %}
									<li class="menu__item {{item.classes | join(' ')}}">
										<a class="menu__link" href="{{item.get_link}}">{{item.title}}</a>
											{% if item.get_children %}
											<ul class="menu-drop">
												{% for child in item.get_children %}
												<li class="menu-drop__item">
													<a class="menu-drop__link" href="{{child.get_link}}">{{child.title}}</a>
												</li>
												{% endfor %}
											</ul>
											{% endif %}
									</li>
									{% endfor %}
									<i class="fa fa-search js-search"></i>
								</ul>
							</nav>

							<nav class="primary-nav" role="navigation">
								<ul class="menu">
									{% for item in menu_header.get_items %}
									<li class="menu__item {{item.classes | join(' ')}}">
										<a class="menu__link" href="{{item.get_link}}">{{item.title}}</a>
											{% if item.get_children %}
											<div class="menu-drop">
												<ul class="menu-drop__inner">
													{% for child in item.get_children %}
													<li class="menu-drop__item">
														<a class="menu-drop__link" href="{{child.get_link}}">{{child.title}}</a>
													</li>
													{% endfor %}
												</ul>	
											</div>
											{% endif %}
									</li>
									{% endfor %}
								</ul>
							</nav><!-- #nav -->		
						</div>
					</div>	
				</div>

				<nav class="c-mobile-nav">
					<ul class="mobile-menu">
						{% for item in menu_mobile.get_items %}
						<li class="mobile-menu__item {{item.classes | join(' ')}}">
							<a class="mobile-menu__link" href="{{item.get_link}}">{{item.title}}</a>
							{% if item.get_children %}
							<div class="icon-wrapper js-drop">
								<i class="fa fa-caret-down"></i>
							</div>
							<ul class="mobile-menu-drop">
								{% for child in item.get_children %}
								<li class="mobile-menu-drop__item">
									<a class="mobile-menu-drop__link" href="{{child.get_link}}">{{child.title}}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>			
				</nav>
				
			{% endblock %}
		</header>

		{% if post.has_field('heading') and not passwordProtected %}
			{% include 'partials/page-heading.twig' with { heading: post.get_field('heading')[0] } %}
		{% endif %}

		<section id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</section>

		{% block footer %}
			<footer class="o-footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>