<div class="o-row">
	<div class="o-inner">
		<nav class="c-footer-nav" role="navigation">
			<ul class="footer-menu">
			{% for item in menu_footer.get_items %}
				<li class="footer-menu__item {{item.classes | join(' ')}}">
					<a class="footer-menu__link" href="{{item.get_link}}">{{item.title}}</a>
				</li>
			{% endfor %}
			</ul>
		</nav><!-- #nav -->	

		<div class="c-footer-contact">
			<ul>
				{% if options.contact_number %}
					<li class="c-footer-contact__item"><a href="tel:{{ options.contact_number }}">{{ options.contact_number }}</a></li>
				{% endif %}
				{% if options.email_address %}
					<li class="c-footer-contact__item"><a href="mailto:{{ options.email_address}}">{{ options.email_address}}</a></li>
				{% endif %}
				{% if options.line_1 %}
					<li class="c-footer-contact__item">{{ options.line_1}}</li>
				{% endif %}
				{% if options.line_2 %}
					<li class="c-footer-contact__item">{{ options.line_2}}</li>
				{% endif %}	
				{% if options.google_map_url %}
					<li class="c-footer-contact__item c-footer-contact__map">
						<a href="{{ options.google_map_url}}">Find us on Google Maps</a>
					</li>
				{% endif %}					
			</ul>
		</div>
		
		{% if options.social_links %}
		<div class="c-footer-social">
		{% for social in options.social_links %}
			<a href="{{ social.link }}" class="c-footer-social__item c-btn-icon">
				<i class="fa fa-{{ social.icon }}"></i>
			</a>
		{% endfor %}				
		</div>
		{% endif %}
	</div>

	{% if options.accreditation_logos %}
	<div class="o-inner">
		<div class="c-accreditations">
			{% for item in options.accreditation_logos %}
				<div class="c-accreditations__item">
					<img src="{{ TimberImage(item.logo).src|resize(400) }}" alt="">
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="o-inner c-terms">
		<div class="c-terms__copyright">&copy; {{ now|date('Y') }} {{ site.name }}.<br> All rights reserved.</div>
		<div class="c-terms__copyright">
			<a style="color: #0ab4de;" href="https://www.purposemedia.co.uk/web-design/" {% if not fn("is_front_page") %} rel="nofollow" {% endif %}>Website design</a> by Purpose Media
		</div>
		<ul class="c-terms__menu">
			{% for item in menu_terms.get_items %}
				<li class="c-terms__item {{item.classes | join(' ')}}">
					<a class="c-terms__link" href="{{item.get_link}}">{{item.title}}</a>
				</li>
			{% endfor %}		
		</ul>
	</div>
</div>