<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
	<meta charset="{{site.charset}}" />
		<title>   
			{% if wp_title %}
				{{ wp_title }} - {{ site.name }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 	<script src="https://use.typekit.net/qtv1kls.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script> -->
	<link rel="stylesheet" href="https://use.typekit.net/ded8yqm.css">

	<script type='text/javascript'>
	(function (d, t) {
	  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
	  bh.type = 'text/javascript';
	  bh.src = 'https://www.bugherd.com/sidebarv2.js?apikey=umuqabsdbmb4xathsxkwna';
	  s.parentNode.insertBefore(bh, s);
	  })(document, 'script');
	</script>
	<link rel="pingback" href="{{site.pingback_url}}" />
	{{function('wp_head')}}