{% extends "base/base.twig" %}

{% block content %}

<div class="c-404" style="background-image: url('/wp-content/uploads/2017/06/photos-4506-a-ngz-qv-4-u-5-gg-6@2x.jpg')">
	<div class="o-row">
		<div class="o-inner o-inner--no-flex">
			<div class="c-404__title">
				<h1 class="heading-main--bold">Whoooops, looks like that's gone missing</h1>
			</div>
			{% include 'partials/btn.twig' with {link: '/', text: 'Go Home'}%}
		</div>
	</div>	
</div>

{% endblock %}
