{% extends "base/base.twig" %}

{% block content %}

{% if post.has_field('dual_layout') %}
<div class="c-dual-layout">

	{% for item in post.get_field('dual_layout') %}
	{% include 'partials/dual-layout.twig' %}
	{% endfor %}

</div>
{% endif %}

<div class="o-row o-row--color-primary">
	<div class="c-news">
		<div class="o-inner o-inner--wrap">

			<div class="c-news__header">
				<div class="c-news__heading">
					<h2 class="heading-main heading-main--bold">School News</h2>
					<h3 class="heading-main heading-main--regular">See what is happening</h3>	
				</div>
				<div class="c-news__link">
					{% include 'partials/btn.twig' with {text: 'See more news', link: '/news', modifiers: 'c-btn--reversed-dark'} %}
				</div>
			</div>

			{% for item in get_latest() %}
			{% include 'partials/preview.twig' with {item: item, modifiers: '--archive'} %}
			{% endfor %}
			
		</div>		
	</div>
</div>

{% endblock %}