{% extends "base/base.twig" %}

{% block content %}

<div class="o-row o-row--no-padding-bottom">
	<div class="o-inner">
		<section class="c-post-archive">
			<div class="c-post-archive__header">
				<div class="c-post-archive__title">
					{% if title_prefix %}
					<h1 class="heading-main--bold"><span class="heading-main--regular color-primary">{{ title_prefix }}</span>{{ title }}</h1>
					{% elseif title %}
					<h1 class="heading-main--bold color-primary">{{ title }}</h1>
					{% endif %}
				</div>
				<div class="c-post-archive__refine">
					<span class="label">Refine by</span>
					{% include 'partials/select.twig' with {options: categories, selected: category, placeholder: 'Category'} %}
					{% include 'partials/select.twig' with {options: dates, selected: date, placeholder: 'Date'} %}
				</div>
			</div>

			<div class="c-post-archive__inner">
				{% for item in posts %}
				{% include 'partials/preview.twig' with {item: item, class: 'c-post--archive'} %}
				{% endfor %}	
			</div>
			{% if pagination.next %}
			<div class="c-post__pagination">
				<a href="{{ pagination.next.link }}" class="c-btn c-btn--default js-load-more">Load More</a>
			</div>
			{% endif %}
		</section>
	</div>
</div>

{% endblock %}