{% extends "base/base.twig" %}

{% block content %}
	<div class="o-row o-row--no-padding-bottom">
		<div class="o-inner">
			<div class="c-generic">
				<div class="c-generic__title">
					<h1 class="heading-main--bold color-primary">{{ post.title }}</h1>
				</div>
				<div class="c-generic__content">
					{% if post.content %}
					{{ post.content }}
					{% else %}
					<p>You need to add some content!</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}