{% extends "base/base.twig" %}

{% block content %}

<div class="c-search-results">
	<div class="o-row o-row--no-padding-bottom">
		<div class="o-inner o-inner--no-flex">
			
			<div class="c-search-results__title">
				<h1 class="heading-main--bold color-primary">Results{% if request.get.s %} for: <span>{{ request.get.s }}</span>{% endif %}</h1>
			</div>

			<div class="c-news">
			{% for post in posts %}
				{% include 'partials/preview.twig' with {item: post, class: 'c-post--archive'} %}	
			{% endfor %}	
			</div>

			{% if pagination.next %}	
			<div class="c-search-results__load">
				<a href="{{ pagination.next.link }}" class="c-btn c-btn--default js-load-more">Load More</a>
			</div>
			{% endif %}		

		</div>
	</div>	
</div>

{% endblock %}