{% extends "base/base.twig" %}

{% block content %}
<div class="o-row">
	<div class="o-inner o-inner--wrap">
		<article class="c-single-post">
			<div class="c-single-post__header">
				<div class="c-single-post__title">
					<h1>{{ post.title }}</h1>
				</div>
				<div class="c-category">
					{% for category in post.categories %}
					<a href="{{ category.link }}" class="c-category__item c-category__item--dark">{{ category.name }}</a>
					{% endfor %}
				</div>	
			</div>
			<div class="c-single-post__content">
				{{ post.content }}
			</div>
		</article>

{# 		<div class="c-share-block">

			<h3 class="c-share-block__title">Share this page:</h3>
			<div class="c-share-block__wrap">
				<div class="c-share-block__item">
					<a class="c-btn-icon" href="mailto:friend@email.com?&subject=Check out this link&body={{site.url}}"><i class="fa fa fa-envelope"></i></a>
				</div>
				<div class="c-share-block__item">
					<a class="c-btn-icon" href="https://www.facebook.com/sharer/sharer.php?u={{site.url|url_encode}}" target="_blank"><i class="fa fa-facebook"></i></a>
				</div>
				<div class="c-share-block__item">
					<a class="c-btn-icon" href="https://twitter.com/home?status={{site.url}}"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="share-block__item">
					<a class="c-btn-icon" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url|url_encode}}&title={{share.title|url_encode}}&summary=&source="><i class="fa fa-linkedin"></i></a>
				</div>				
			</div>

		</div> #}
	</div>
</div>

{% set related_news = related(post) %}
{% if related_news %}
<div class="o-row o-row--color-primary">
	<div class="c-news">
		<div class="o-inner o-inner--wrap">
			<div class="c-news__header">
				<div class="c-news__heading">
					<h2 class="heading-main heading-main--bold">Related News</h2>
					<h3 class="heading-main heading-main--regular">See what is happening</h3>	
				</div>
				{% include 'partials/btn.twig' with {text: 'See more news', link: '/news', modifiers: 'c-btn--reversed-dark'} %}
			</div>
			{% for item in related_news %}
			{% include 'partials/preview.twig' with {item: item} %}
			{% endfor %}	
		</div>		
	</div>
</div>
{% endif %}

{% endblock %}
