{% extends "base/base.twig" %}

{% block content %}

<div class="c-contact">
	<div class="o-row">
		<div class="o-inner">

			<div class="c-contact__details">
				<div class="c-contact__title">
					<h1 class="heading-main heading-main--bold color-primary">{{ post.title }}</h1>
				</div>
				<div class="c-contact__details__options options ">
					{% if options.contact_number %}
					<div class="options__item">
						<a class="c-link" href="tel:{{ options.contact_number }}">{{ options.contact_number }}</a>
					</div>
					{% endif %}
					{% if options.line_1 %}
					<div class="options__item">{{ options.line_1}} {{ options.line_2}}</div>
					{% endif %}
					{% if post.head_teacher %}
					<div class="options__item">Head Teacher: {{ post.head_teacher }}</div>
					{% endif %}
					{% if options.email_address %}
					<div class="options__item">
						<a class="c-link" href="mailto:{{ options.email_address }}">{{ options.email_address }}</a>
					</div>
					{% endif %}			
				</div>
			</div>

			<div class="c-contact__map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9583.693076605136!2d-1.388254!3d53.093613!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6bde8a4405ead4e!2sAlfreton+Nursery+School!5e0!3m2!1sen!2suk!4v1537800711280" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="o-row o-row--color-primary">
		<div class="o-inner o-inner--no-flex">
			<div class="c-contact__form-title">
				<h2 class="heading-main heading-main--bold">Talk to us</h2>
			</div>
			{% filter shortcodes %}
			[ninja_form id=1]
			{% endfilter %}	
		</div>
	</div>
</div>	

{% endblock %}