{% extends "base/base.twig" %}

{% block content %}
<div class="c-password">
	<div class="o-row o-row--no-padding-bottom">
		<div class="o-inner">
			<div class="c-password__title heading-main--bold color-primary">
				<h1>Enter your password to view content</h1>
			</div>
			<form class="c-forms" action="{{site.link}}/wp-login.php?action=postpass" method="post">
				<input class="c-forms__password" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" maxlength="20" />
				<input class="c-btn c-btn--colour c-forms__submit" type="submit" name="Submit" value="Submit" />
			</form>
		</div>
	</div>	
</div>	
{% endblock %}