{% extends "base/base.twig" %}

{% block content %}

<div class="c-staff">
	<div class="o-row o-row--color-primary">
		<div class="o-inner o-inner--no-flex">
			{% for item in post.get_field('staff_profile')%}
			<div class="c-staff__item profile">
				<div class="profile__image">
					<a style="text-decoration: none; color: #fff;" href="{{ item.link }}"><img src="{{ TimberImage(item.profile_image).src|resize(350) }}" alt=""></a>	
				</div>
				<div class="profile__details">
					<div class="profile__name">
						<a style="text-decoration: none; color: #fff;" href="{{ item.link }}"><h3>{{ item.name }}</h3></a>
					</div>
					<div class="profile__job">
						<p>{{ item.job_title }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	
</div>


{% endblock %}