{% extends "base/base.twig" %}

{% block content %}

{% for item in post.get_field('single_layout') %}
{% include 'partials/single-layout.twig' with {item: item} %}
{% endfor %}

	<div class="o-row o-row--color-primary">
		<div class="o-inner o-inner--no-flex">
			<div class="c-contact__form-title">
				<h2 class="heading-main heading-main--bold">Talk to us</h2>
			</div>
			{% filter shortcodes %}
			[ninja_form id=5]
			{% endfilter %}	
		</div>
	</div>

{% endblock %}