{% extends "base/base.twig" %}

{% block content %}
<div class="c-dual-layout">

	{% for item in post.get_field('dual_layout') %}
	{% include 'partials/dual-layout.twig' %}
	{% endfor %}

</div>
{% endblock %}