{% extends "base/base.twig" %}

{% block content %}

<div class="c-downloads">
	<div class="o-row o-row--color-primary t">
		<div class="o-inner">
			{% for item in post.get_field('file_item') %}
			<div class="c-downloads__item downloads">
				<div class="downloads__title">
					<h3 class="color-primary">{{ item.file_name }}</h3>
				</div>
				{% if item.file_attachment %}
				<div class="downloads__link">
					{% include 'partials/btn.twig' with {link: item.file_attachment.url, text: 'Download'} %}
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}