/*--------------
	Primary Font
--------------*/

@mixin font-primary--regular() {
	font-family: $primary-font;
	font-weight: $font-regular;
}


@mixin font-primary--semi() {
	font-family: $primary-font;
	font-weight: $font-semi;
}


@mixin font-primary--bold() {
	font-family: $primary-font;
	font-weight: $font-bold;
}




/*--------------
 Secondary Font
--------------*/

@mixin font-secondary--regular() {
	font-family: $secondary-font;
	font-weight: $font-regular;
}


@mixin font-secondary--bold() {
	font-family: $secondary-font;
	font-weight: $font-bold;
}
