/*--------------
	Font Size
--------------*/

@mixin font-size($font-size: false, $line-height: false) {
	@if $font-size {
		font-size: $font-size;
	}
	@if $line-height { 
		line-height: $line-height;
	}
}
