/*-----------------
	Images
-----------------*/

@mixin image($size, $position: none, $repeat: no-repeat) {
	background-size: $size;
	background-repeat: $repeat;

	@if $position != none {
		background-position: $position;
	}
}
